@import "./vars.scss";

#section-wave{
    background-color: black;
    // padding-top: 60px;
    // padding-bottom: 120px;
    .div-relative{
        position: relative;
    }
    .div-img{
        position: absolute;
        left: 0px;
    }

    .div-blue{
        position: absolute;
        left: 0px;
        top: 30px;
    }
    .div-white{
        position: absolute;
        left: 0px;
        top: 0px;
    }

    .wave-svg-shape-blue {
        fill: #bce5f5;
        opacity: 90%;
        position: relative;
        width: 1000px;
        height: 100%;
        overflow: hidden;
        transform: translateX(-100px);
        animation: fillUpSvg-blue 7s ease-in-out infinite;
    }
    .wave-svg-shape-blue .wave-svg {
        width: 100%;
        height: auto;
        overflow: hidden;
        float: left;
        margin: 0;
        animation: waveSvgAnim-blue 3s linear infinite;
    }
    @keyframes fillUpSvg-blue {
      0% {
        transform: translateY(calc(100px/2)) scaleY(0.8);
      }
      50% {
        transform: translateY(0) scaleY(0.9);
      }
      100% {
        transform: translateY(calc(100px/2)) scaleY(0.8);
      }
    }
    @keyframes waveSvgAnim-blue {
      0% {
        transform: translateX(calc(-100px * 2));
      }
      100% {
        transform: translateX(100px * 2);
      }
    }

    .wave-svg-shape-white {
        fill: #ffffff;
        opacity: 50%;
        //position: relative;
        left: 0px;
        width: 1000px;
        height: 100%;
        overflow: hidden;
        transform: translateX(-100px);
        animation: fillUpSvg-white 6s ease-in-out infinite;
    }
    @keyframes fillUpSvg-white {
        0% {
          transform: translateY(calc(100px/2)) scaleY(0.8);
        }
        50% {
          transform: translateY(0) scaleY(0.8);
        }
        100% {
          transform: translateY(calc(100px/2)) scaleY(0.8);
        }
      }
      @keyframes waveSvgAnim-white {
        0% {
          transform: translateX(calc(-100px * 2));
        }
        100% {
          transform: translateX(100px * 2);
        }
      }
}

