<footer>
  <div class="container">
    <div class="row align-items-center">
      <div class="col-3">
        <img src="assets/logo-theme.png" class="img-fluid">
      </div>
      <div class="col"></div>
      <div class="col-1">
        <a class="footer-link" href="#">徵才訊息</a>
        <br />
        <a class="footer-link" href="#">媒體</a>
        <br />
        <a class="footer-link" href="#">支援</a>
        <br />
        <a class="footer-link" href="#">聯絡我們</a>
        <br />
      </div>
      <div class="col-auto">
        <a href="#" class="social-links">
          <i class="fab fa-youtube"></i>
        </a>
        <a href="#" class="social-links">
          <i class="fab fa-facebook-square"></i>
        </a>
        <a href="#" class="social-links">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="#" class="social-links">
          <i class="fab fa-medium-m"></i>
        </a>
        <a href="#" class="social-links">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <input placeholder="輸入email訂閱我們" class="subscribe-input form-control" />
      </div>
    </div>

    <p class="copy-right">Copyright &copy; DADAYOZIKUA. All rights reserved.</p>
  </div>
</footer>
