<header id="nav-wrapper">
  <nav class="navbar navbar-dark navbar-expand-sm navbar-right">
    <a class="navbar-brand" href="#"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#header" aria-controls="header"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="header">
      <ul class="nav navbar-nav ml-auto">
        <li class="">
          <a class="nav-link active" href="index.html">首頁</a>
        </li>
        <li class="">
          <a class="nav-link" href="services.html">服務項目</a>
        </li>
        <li class="">
          <a class="nav-link" href="tech.html">技術</a>
        </li>
        <li class="">
          <a class="nav-link" href="cases.html">應用案例</a>
        </li>
        <li class="">
          <a class="nav-link" href="about.html">關於我們</a>
        </li>
        <li class="">
          <div class="dropdown">
            <button class="lang-selector dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">中文</button>

            <ul class="dropdown-menu dropdown-menu-right">
              <li>
                <a href="#" data-locale="en" class="switch-locale dropdown-item">
                  英文
                </a>
              </li>
              <li>
                <a href="#" data-locale="jp" class="switch-locale dropdown-item">
                  日文
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>

    </div>
  </nav>

</header>
